# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/